extends ../layouts/main_layout
block content
    h1 List Products
    .col
        .row
            each product in products
                .col-12.col-md-6.col-lg-3
                    .card
                        img.card-img-top(src=product.bookImgUrl height="150" alt='Card image cap')
                        .card-body
                            h5.card-title= product.title
                            p.card-text= product.description
                            a.btn.btn-primary(href='/cart/add/'+ product.id) Add to cart
        .mt-4
        nav(aria-label='Page navigation example')
            ul.pagination.justify-content-center
                if currentPage >= 4
                    li.page-item
                        a.page-link(href='/products?page='+(currentPage-1), tabindex='-1') Previous
                else
                    li.page-item.disabled
                        a.page-link(href='/products?page='+(currentPage-1), tabindex='-1') Previous
                each page in showPage
                    if currentPage===page
                        li.page-item.active
                            a.page-link(href='/products?page='+page)= page
                    else
                        li.page-item
                            a.page-link(href='/products?page='+page)= page
                    
                if (pageSize - currentPage) <= 2
                    li.page-item.disabled
                        a.page-link(href='/products?page='+(currentPage+1)) Next
                else
                    li.page-item
                        a.page-link(href='/products?page='+(currentPage+1)) Next
