extends ../layouts/main_layout
block content
    h1(class="ml-2") List Transactions
    if errors
        each err in errors
            .alert.alert-danger= err
    form(action="/transactions/create" method="POST" class="form-inline")
        label(class="ml-2") Users
        select(name="userId" class="form-control ml-2")
            each user in users
                option(value=user.id)=user.name
        label(class="ml-2") Books
        select(name="bookId" class="form-control ml-2")
            each book in books
                option(value=book.id)=book.title
        button(class="btn btn-success ml-2") Create
    table.table
        tr
            th(class="font-weight-bold") userId
            th(class="font-weight-bold") bookId
        each trans in transactions
            tr
                td= trans.userId
                td= trans.bookId
                td
                    if !trans.isComplete
                        a(href="/transactions/"+trans.id+"/complete" class="btn btn-primary ml-2") Complete
                    else
                        span Done!